/*为了效果更加明显，为body添加背景颜色*/
body{
    background-color:#ccc;
}
.father{
    background-color:blue;
    height:100px;
    width:100px;
    margin-top:20px;
}
.son{
    background-color:red;
    display:inline;
    height:20px;
    width:100px;
    margin-top:20px;
}
